# Servidor
PORT=3000

# Base de Datos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ai_ticket_workspace

# Formato: postgresql://USER:PASSWORD@HOST:PORT/DB?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ai_ticket_workspace?schema=public"

# IA - OpenRouter
OPENROUTER_API_KEY=your_api_key_here
